<div class="relative min-h-dvh">
  <ng0-header class="overflow-hidden">
    <ng0-icon name="Menu"></ng0-icon>
    <ng0-text class="w-fit">Payment</ng0-text>
    <ng0-icon name="notifications_none"></ng0-icon>
  </ng0-header>
  <ng0-content padding="lg" fullscreen class="bg-transparent" style="background-image:linear-gradient(139deg, #297ea3 0%, #132d57 100%)"></ng0-content>
  <ng0-dock position="fixed" class="overflow-hidden border-none border-[#3d6600]" style="outline-style:none">
    <ng0-icon name="Home"></ng0-icon>
    <ng0-icon name="credit-card"></ng0-icon>
    <ng0-icon name="Crown"></ng0-icon>
  </ng0-dock>
</div>
