@import "tailwindcss";

@import "./app/theme/tailwind-theme.css";
@import "./app/theme/Light Theme.css";

@source "./app/**/*.{ts,ng.html}";

html, body { height: 100%; margin: 0; }
body { font-family: 'Inter', system-ui, -apple-system, sans-serif; background: var(--color-base-100); color: var(--color-base-content); }
